.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.pagination .hidden {
  display: none;
}

.pagination li,
.pagination li a {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  min-width: 3.2rem;
}
